@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|PT+Sans:700');

body, html {
  margin: 0;
  padding: 0;
  font-family: "Architects Daughter", "PT Sans", sans-serif;
  font-weight: bold;
  background: #cce0ff;
}

.jumbotron {
  text-align: center;
  margin: 30px 0 10px;

}
.jumbotron h1 {
  font-size: 60px;
  margin: 0;
}


.container {
  text-align: center;
  width: 900px;
  margin: 0 auto;

}
.container img {
  transition-timing-function: ease;
  transition: width .15s, border .25s, border-radius 0.15s;
  width: 350px;
  border: 5px solid black;
  border-radius: 0;
  margin: 20px 10px 0 10px;

}
.container .inactive {
  transition: opacity .15s;
  opacity: .3;
  background: blue;
}
.container .active {
  transition-timing-function: ease;
  transition: width 0.15s, border 0.25s, border-radius 0.15s, opacity 0.15s;
  border: 20px solid #0052cc;
  border-radius: 20px;
  width: 370px;
  opacity: 1;

}

.card {
  vertical-align: top;
  display: inline-block;
}

label {
  cursor: pointer;
}
label p {
  font-size: 40px;
  margin-top: 5px;
}
input {
  display: none;
}

#submit {
  font-size: 40px;
  width: 200px;
  height: 100px;
  border: 5px solid black;
  border-radius: 20px;
  transition: background .25s;
  background: #3385ff;
  cursor: pointer;
  position: fixed;
  top: 640px;
  left: 50%;
  margin: 0 auto;
  margin-left: -100px;
}
#submit:hover {
  transition: background .5s, color .4s;
  background: #0052cc;
  color: white;
}
#submit:active {
  padding: 8px 13px 6px;
}

.submission {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: -400px;
  height: 240px;
  width: 500px;
  border: 5px solid black;
  background: #66a3ff;
  display: none;

}
.submission p {
  font-size: 32px;
  color: black;
}

#close {
  font-size: 35px;
  width: 170px;
  height: 85px;
  border: 5px solid black;
  border-radius: 20px;
  transition: background .25s;
  background: #3385ff;
  cursor: pointer;
  position: relative;
  top: -8px;
  z-index: 1;
}
#close:hover {
  transition: background .5s, color .4s;
  background: #0052cc;
  color: white;
}
#close:active {
  padding: 8px 13px 6px;
}

.error {
  color: red;
  font-size: 30px;
  position: relative;
  top: -54px;
  display: none;
}
